* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Audiowide', cursive;
  list-style: none;
  text-decoration: none;
 
}

/*Paletas de Cores*/
:root {
  --bg-color: #08172e;
  --text-color: #fff;
  --main-color: #5a6794;
  --second-color: #d8cdb0;
  --other-color: #8794c0;
  --h1-font: 5.2rem;
  --h2-font: 3.5rem;
  --p-font: 1.1rem;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

header {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 22px 16%;
  border-bottom: 1px solid transparent;
  transition: all 0.4s ease;
}

.logo img {
  width: 135px;
  height: auto;
  cursor: pointer;
  
}

.navbar {
  display: flex;
}

.navbar a {
  color: var(--second-color);
  font-size: var(--p-font);
  font-weight: 600;
  padding: 10px 25px;
  margin: 0 2px;
  border-radius: 0.5rem;
  transition: all 0.4s ease;
}

.navbar a:hover {
  background: var(--main-color);
  color: var(--text-color);
}

#menu-icon {
  font-size: 36px;
  color: var(--text-color);
  z-index: 10001;
  cursor: pointer;
  display: none;
}

section {
  padding: 160px 16% 90px;
}

/*==home===*/
.home {
  height: 100vh;
  width: 100%;
  position: relative;
  /*background: url(../img/bkg.jpg);*/
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

}

#time{
  position: relative;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#time .circle{
  position: absolute;
  display: flex;
  align-items: center;
justify-content: center;

}
#time .circle svg {
  position: relative;
  transform: rotate(270deg);
}
#time .circle:nth-child(1) svg{
  width: 250px;
  height: 250px;

}
#time .circle:nth-child(2) svg{
  width: 210px;
  height: 210px;
  
}
#time .circle:nth-child(3) svg{
  width: 170px;
  height: 170px;
  
}

#time .circle svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke: var(--clr);
  stroke-width: 5;
  transform: translate(5px, 5px);
  opacity: 0.30;

}

#time .circle:nth-child(1) svg circle{
  stroke-dasharray: 760;
  stroke-dashoffset: 760;

}
#time .circle:nth-child(2) svg circle{
  stroke-dasharray: 630;
  stroke-dashoffset: 630;

}
#time .circle:nth-child(3) svg circle{
  stroke-dasharray: 510;
  stroke-dashoffset: 510;

}

.dots{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 10;


}
.dots::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background: var(--clr);
  border-radius: 50%;
  box-shadow: 0 0 20px var(--clr),
  0 0 40px var(--clr),
  0 0 60px var(--clr),
  0 0 80px var(--clr);
}

.timeBx {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  width: 100%;
  gap: 10px;
  font-weight: bold;

}
.timeBx #hours::after,
.timeBx #minutes::after{
  content: ' :';
  position: absolute;
}
.timeBx div{
  color: var(--c);
  text-shadow: 0 0 10px var(--c),
  0 0 20pc var(--c);
}
.ap{
  position: absolute;
  transform: translateY(-15px);
  font-size: 0.5em;
  right: 56px;
}


.home-text h1 {
  margin: 20px 0;
  font-size: var(--h1-font);
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: 2px;
  opacity: 0;
  transform: translateY(30px);
  animation: moveup 0.5s linear forwards;
}
@keyframes moveup {
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
  
}


span {
  color: var(--main-color);
}

.social-icons i {
  position: relative;
  height: 70px;
  width: 70px;
  background: var(--bg-color);
  border-radius: 20%;
  color: var(--text-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 27px;
  margin-right: 15px;
  transition: all 0.4s ease;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(124, 123, 123, 0.7);
  transition: transform 0.2s;
}

.social-icons i:hover {
  color: var(--text-color);
  box-shadow: inset 4px 4px 10px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 8px -1px rgba(109, 109, 109, 0.7);

  transform: translateY(10px);
}

a:hover .bxl-linkedin {
  color: #0851ee;
}

a:hover .bxl-github {
  color: #888f89;
}

a:hover i {
  transform: scale(0.9);
}

.home-text h4 {
  color: var(--main-color);
  font-size: 24px;
  font-weight: 600;
}

.home-text h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 3rem;
}

header.sticky {
  padding: 10px 16%;
  background: var(--bg-color);
  border-bottom: 1px solid #0e1630;
}

/*==Sobre==*/
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.about-text h4 {
  margin: 10px 0;
  color: var(--main-color);
  font-size: 20px;
  font-weight: 600;
}

.about-text h2 {
  font-size: var(--h2-font);
}

.about-text p {
  color: var(--second-color);
  font-size: var(--p-font);
  line-height: 30px;
  margin-bottom: 2rem;
}

.about-gri {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.about-in h5 {
  font-size: 22px;
  font-weight: 600;
}

.about-img img {
  height: auto;
  width: 100%;
  max-width: 390px;
  border-radius: 10px;
  -webkit-box-shadow: 11px 8px 10px -3px rgba(0,0,0,0.7);
  -moz-box-shadow: 11px 8px 10px -3px rgba(0,0,0,0.7);
  box-shadow: 11px 8px 10px -3px rgba(0,0,0,0.7);
}

.main-text {
  text-align: center;
}

.main-text h2 {
  font-size: var(--h2-font);
  margin-bottom: 10px;
}

.main-text h4 {
  color: var(--main-color);
  font-size: 24px;
  font-weight: 600;
}

/*==experiencias==*/
.experience-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  align-items: center;
  text-align: center;
  gap: 2rem;
  margin-top: 8rem;
}

.box {
  padding: 60px;
  background: #12141c;
  border-top: 5px solid transparent;
  transition: all 0.4s ease;
  cursor: pointer;
  border-radius: 0.5rem;
}

.box h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 15px 0;
  transition: all 0.4s ease;
}

.box p {
  color: var(--second-color);
  font-size: var(--p-font);
  line-height: 30px;
}

.box:hover {
  transform: scale(1.01) translateY(-5px);
  border-top: 5px solid var(--second-color);
}

.box:hover h3 {
  color: var(--second-color);
}

/*==projetos==*/
.project-content {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  align-items: center;
  gap: 2rem;
  margin-top: 7rem;

  width: calc(100% -20%);
}

.swiper-container {
  width: calc(100% -20%);
  padding-top: 40px;
  padding-bottom: 80px;

  overflow: hidden;
}

section .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 5px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0006);
}

.swiper-slide:hover .info {
  background: rgba(0, 0, 0, 0.452);
  transition: all 0.4s ease;
}

.info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  padding: 15px;
  text-align: center;
}

.info h5 {
  color: var(--text-color);
  font-size: 18px;
  position: relative;
  font-weight: bold;
  margin-bottom: 40px;
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.3s ease-out;
}

.info span {
  font-size: 15px;
  color: var(--main-color);
  font-weight: bold;
  opacity: 0;
  transition: all 0.3s ease-out 0.2s;
}

.info a {
  background: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  padding: 10px 25px;
  text-decoration: none;
  border-radius: 5px;
  opacity: 0;
  font-weight: 700;
  transition: all 0.3s ease-out 0.3s;
}

.info a:hover {
  background: var(--second-color);
}

.swiper-slide:hover .info h5 {
  opacity: 1;
}

.swiper-slide:hover .info span {
  opacity: 1;
}

.swiper-slide:hover .info a {
  opacity: 1;
}

/*==roda-pé==*/
.cop-text p {
  text-align: center;
  padding: 15px;
  color: var(--second-color);
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
}

.top {
  position: fixed;
  bottom: 2.1rem;
  right: 2.1rem;
}

.top i {
  color: var(--text-color);
  background: var(--main-color);
  font-size: 20px;
  padding: 10px;
  border-radius: 0.5rem;
}

@media (max-width: 1325px) {
  header{
		padding: 16px 3%;
	}
	header.sticky{
		padding: 8px 3%;
	}
	section{
		padding: 130px 3% 60px;
	}

 
  .row {
    height: 56vh;
    width: 22vw;
  }

  .about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    margin: 5rem;

  }
}

@media(max-width: 1024px) {

  .experience-content {
    margin: 3rem;
  }
}


@media (max-width: 970px) {
  :root {
    --h1-font: 4.2rem;
    --h2-font: 2.9rem;
    --p-font: 1rem;
  }

  section {
    padding: 70px 3% 60px;
  }

  .home {
    height: 85vh;
  }

  .about {
    grid-template-columns: 1fr;
  }

  .about-img {
    text-align: center;
  }



 
  .row {
    height: 58vh;
    width: 28vw;
  }
}

@media (max-width: 830px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: -600px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background: #12141c;
    text-align: left;
    transition: all 0.4s ease;
  }

  .navbar a {
    display: block;
    padding: 1rem;
    margin: 1rem;
  }

  .navbar.active {
    top: 100%;
  }

  :root {
    --h1-font: 3.7rem;
    --h2-font: 2.7rem;
  }

  .row {
    height: 56vh;
    width: 30vw;
  }
}

@media (max-width: 640px) {
  .row {
    height: 56vh;
    width: 40vw;
  }
}

@media (max-width: 412px) {
  :root {
    --h1-font: 4.2rem;
    --h2-font: 2.9rem;
    --p-font: 1rem;
  }

  section {
    padding: 50px 3% 30px;
  }

  .home {
    height: 70vh;
  }

  .about {
    grid-template-columns: 1fr;
  }

  .about-img {
    text-align: center;
  }

  .about-img img {
    display: flex;
    align-items: center;
    height: 80vh;
  }

  .row {
    height: 56vh;
    width: 60vw;
  }
}

@media (max-width: 412px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: -600px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background: #12141c;
    text-align: left;
    transition: all 0.4s ease;
  }

  .navbar a {
    display: block;
    padding: 1rem;
    margin: 1rem;
  }

  .navbar.active {
    top: 100%;
  }

  :root {
    --h1-font: 3.7rem;
    --h2-font: 2.7rem;
  }

  .about img {
    display: flex;
    height: 450px;
    width: 350px;
    margin-top: 20px;

  }

  .about {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 5rem;
  }

  .about-img {
    margin-top: 30px;
   
  }

  .home {
    height: 100vh;
  }
}

@media (max-width: 375px) {

  .about {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 5rem;
    height: 85vh;
    margin-top: 20px;
  }

  .about img {
    display: flex;
    height: 250px;
    width: 250px;
    margin-top: 20px;

  }

}